@model CeroFilas.Web.ViewModels.Partners.PartnerWithServicesViewModel
@{
    this.ViewData["Title"] = "Partner Manager: " + Model.Name;
}

<div class="row row-eq-height">
    <!-- Info Box -->
    <div class="col-lg-5 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="@Model.ImageUrl" alt=""></div>
            <div class="info_content">
                <div class="info_title">@Model.Name</div>
                <div class="info_text">Serivicio: <strong>@Model.CategoryName</strong></div>
                <div class="info_text">Address: <strong>@Model.Address</strong></div>
            </div>
        </div>
    </div>
    <!-- Panel -->
    <div class="col-lg-7">
        <h1>Horas de servicio:</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Horario</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model.Services)
                {
                    <tr>
                        <th scope="row">@service.ServiceName</th>
                        <td>
                            @if (service.Available == true)
                            {
                                <span style="font-family:Arial, FontAwesome" class="text-success">&#xf00c;</span>
                            }
                            else
                            {
                                <span style="font-family:Arial, FontAwesome" class="text-danger">&#xf00d;</span>
                            }
                        </td>
                        <td>
                            <form method="post">
                                <button type="submit" class="btn btn-outline-info btn-sm"
                                        asp-area="Manager" asp-controller="Partners" asp-action="ChangeServiceAvailableStatus" 
                                        asp-route-PartnerId="@Model.Id" asp-route-serviceId="@service.ServiceId">
                                    Cambiar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<hr class="bg-dark mx-4" style="height: 6px;" />

<div>
    @await Component.InvokeAsync("AllAppointmentsByPartner", Model.Id)
</div>

@section Scripts {
    <script src="~/js/rating-static.js" asp-append-version="true"></script>
}
