@model TaxiDinamica.Web.ViewModels.Partners.PartnerInputModel
@{
    this.ViewData["Title"] = "Añadir Taxi";
    var categories = this.ViewData["Categories"] as SelectList;
    var cities = this.ViewData["Cities"] as SelectList;
}
<h2>Nuevo Taxi</h2>
<form method="post" enctype="multipart/form-data" class="pt-4">
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">Placa del Taxi</label>
        <div class="col-md-8 col-sm-12">
            <input type="text" asp-for="@Model.Placa" class="form-control" required="required">
            <span asp-validation-for="Placa" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.Image)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input image-upload" id="Image" lang="es" asp-for="@Model.Image"
                    required="required">
                <label class="custom-file-label" for="Image" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.PaseUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="PaseUrl" lang="es" asp-for="@Model.PaseUrl"
                    required="required">
                <label class="custom-file-label" for="PaseUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="PaseUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.CedulaUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="CedulaUrl" lang="es" asp-for="@Model.CedulaUrl"
                    required="required">
                <label class="custom-file-label" for="CedulaUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="CedulaUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.TarjetonUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="TarjetonUrl" lang="es" asp-for="@Model.TarjetonUrl"
                    required="required">
                <label class="custom-file-label" for="TarjetonUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="TarjetonUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.SoatUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="SoatUrl" lang="es" asp-for="@Model.SoatUrl"
                    required="required">
                <label class="custom-file-label" for="SoatUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="SoatUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.LicenciaUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="LicenciaUrl" lang="es" asp-for="@Model.LicenciaUrl"
                    required="required">
                <label class="custom-file-label" for="LicenciaUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="LicenciaUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.OperacionUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="OperacionUrl" lang="es" asp-for="@Model.OperacionUrl"
                    required="required">
                <label class="custom-file-label" for="OperacionUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="OperacionUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.SeguroUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="SeguroUrl" lang="es" asp-for="@Model.SeguroUrl"
                    required="required">
                <label class="custom-file-label" for="SeguroUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="SeguroUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.TecnoUrl)</label>
        <div class="col-md-8 col-sm-12">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="TecnoUrl" lang="es" asp-for="@Model.TecnoUrl"
                    required="required">
                <label class="custom-file-label" for="TecnoUrl" data-browse="Elegir">Seleccionar Archivo</label>
            </div>
            <span asp-validation-for="TecnoUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">Espacios de Tiempo</label>
        <div class="col-md-8 col-sm-12">
            <select class="form-control">
                <option>15 Minutos</option>
                <option>20 Minutos</option>
                <option>30 Minutos</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">Categoría</label>
        <div class="col-md-8 col-sm-12">
            <select asp-for="@Model.CategoryId" class="form-control" asp-items="@categories">
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">Ciudad</label>
        <div class="col-md-8 col-sm-12">
            <select asp-for="@Model.CityId" class="form-control" asp-items="@cities">
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.DriverName)</label>
        <div class="col-md-8 col-sm-12">
            <input type="text" asp-for="@Model.DriverName" class="form-control" required="required">
            <span asp-validation-for="DriverName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-sm-12 col-form-label">@Html.DisplayNameFor(Model => Model.DriverContact)</label>
        <div class="col-md-8 col-sm-12">
            <input type="number" asp-for="@Model.DriverContact" class="form-control" required="required">
            <span asp-validation-for="DriverContact" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col col-sm-6">
            <a class="btn btn-danger" asp-area="Administration" asp-controller="Partners"
                asp-action="Index">Cancelar</a>
        </div>
        <div class="col col-sm-6 text-right">
            <button type="submit" class="btn btn-success" asp-area="Administration" asp-controller="Partners"
                asp-action="AddPartner">
                Enviar datos
            </button>
        </div>
    </div>
</form>

@section Scripts {
<script src="~/js/upload-image.js" asp-append-version="true"></script>
<script type="application/javascript">
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $(e.target).parent('div').find('label').text(fileName);
    });
</script>
}
