@using System
@using System.Reflection
@model TaxiDinamica.Web.ViewModels.Partners.PartnerViewModel
@{
    this.ViewData["Title"] = "Gestionar Taxi: " + Model.Placa;
    this.ViewData["cClass"] = "partner-details";
}

<div class="row row-eq-height">
    <div class="col-lg-5">
        <div class="partner-details-slider swiper-container">
            <img src="@Model.ImageUrl" alt="" class="img-fluid">
        </div>
        <br />
        <div class="partner-info">
            <h3>Información</h3>
            <ul>
                <li><strong>Placa</strong>: @Model.Placa</li>
                <li><strong>Tipo de Servicio</strong>: @Model.CategoryName</li>
                <li><strong>Ciudad</strong>: @Model.CityName</li>
                <li><strong>Conductor</strong>: @Model.DriverName</li>
                <li><strong>Número del Conductor</strong>: @Model.DriverContact</li>
            </ul>
        </div>
    </div>
    <!-- Panel -->
    <div class="col-lg-7">
        <div class="partner-description features">
            <div class="col-md-12">
                <h2>Documentos Importados</h2>
                <p>Lista de archivos enviados.</p>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Archivo</th>
                    <th scope="col">Descargar</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var docs in Model.GetType().GetProperties(BindingFlags.Instance | BindingFlags.Public))
                {
                    <tr>
                        <th scope="row">@docs.Name</th>
                        <td>
                            <span class="badge badge-danger">No Disponible</span>
                            <span class="badge badge-success">Descargar</span>
                        </td>
                        <td>
                            @* <form method="post">
                                <button type="submit" class="btn btn-outline-info btn-sm" asp-area="Manager"
                                asp-controller="Partners" asp-action="ChangeServiceAvailableStatus"
                                asp-route-PartnerId="@Model.Id" asp-route-serviceId="@service.ServiceId">
                                Rechazar
                                </button>
                                </form> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
}
