@using CeroFilas.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/plugins/aos/aos.css" rel="stylesheet">
        <link href="~/plugins/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="~/plugins/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/plugins/aos/aos.css" rel="stylesheet">
        <link href="~/plugins/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="~/plugins/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </environment>

    @this.RenderSection("Styles", required: false)
</head>
<body>

    <div class="super_container">

        <!-- Menu -->
        <partial name="_ManagerMenuPartial" />

        <!-- Home -->
        <partial name="_ManagerHeaderPartial" />

        <div style="padding-top: 90px;">
            
            <div class="text-center">
                <a style="color: #BA55D3" asp-area="" asp-controller="Home" asp-action="Index"><strong>BACK TO HOME PAGE</strong></a>
            </div>
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <partial name="_ManagerSidebarPartial" />

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="col-12">
                            <main role="main">
                                @this.RenderBody()
                            </main>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="bg-dark mx-4" style="height: 6px;" />

        <!-- Footer -->
        <partial name="_FooterPartial" />

    </div>

    <!-- plugins JS Files -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"
            asp-append-version="true"></script>
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/plugins/aos/aos.js"></script>
        <script src="~/plugins/swiper/swiper-bundle.min.js"></script>
        <script src="~/plugins/purecounter/purecounter.js"></script>
        <script src="~/plugins/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/plugins/glightbox/js/glightbox.min.js"></script>

        <!-- Template Main JS File -->
        <script src="~/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"
            asp-append-version="true"></script>
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/plugins/aos/aos.js"></script>
        <script src="~/plugins/swiper/swiper-bundle.min.js"></script>
        <script src="~/plugins/purecounter/purecounter.js"></script>
        <script src="~/plugins/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/plugins/glightbox/js/glightbox.min.js"></script>

        <!-- Template Main JS File -->
        <script src="~/js/main.js"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
