@model TaxiDinamica.Web.ViewModels.Appointments.AppointmentsListViewModel
@{
    this.ViewData["Title"] = "Default";
}

<div class="row">
    <div class="col-12" style="overflow-x: scroll">
        <h2 class="my-3">Agenda de Citas</h2>

        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Fecha de cita</th>
                    <th scope="col">Estado <span class="text-info">*</span></th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Dirección de Recogida</th>
                    <th scope="col">Dirección de Destino</th>
                    <th scope="col">Precio Ofrecido</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Confirmar</th>
                    <th scope="col">Rechazar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in this.Model.Appointments)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime.ToString("f", new System.Globalization.CultureInfo("es-CO"))
                        </th>
                        <td class="align-middle">
                            @if (appointment.Confirmed == true)
                            {
                                <span class="badge badge-success">Confirmada</span>
                            }
                            else if (appointment.Confirmed == false)
                            {
                                <span class="badge badge-danger">Rechazada</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">Pendiente</span>
                            }
                        </td>
                        <td>@appointment.ServiceName</td>
                        <td>@appointment.AddressStart</td>
                        <td>@appointment.AddressEnd</td>
                        <td class="align-middle">
                            @if (appointment.Price == 0)
                            {
                                <span>Taximetro</span>
                            }
                            else
                            {
                                <span>$ @appointment.Price</span>
                            }
                        </td>
                        <td>@appointment.Comment</td>
                        @if (appointment.DateTime.Date < DateTime.UtcNow.Date)
                        {
                            <td colspan="2" class="align-middle">
                                <span class="badge badge-secondary">Vencido</span>
                            </td>
                        }
                        else if (appointment.Confirmed == null)
                        {
                            <td class="align-middle">
                                <form method="post">
                                    <button type="submit" class="btn btn-success btn-sm" asp-area="Manager"
                                asp-controller="Partners" asp-action="ConfirmAppointment"
                                asp-route-id="@appointment.Id" asp-route-partnerId="@appointment.PartnerId">
                                        Confirmar
                                    </button>
                                </form>
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-danger btn-sm" asp-area="Manager" asp-controller="Partners"
                            asp-action="DeclineAppointment" asp-route-id="@appointment.Id"
                            asp-route-partnerId="@appointment.PartnerId">
                                    Rechazar
                                </a>
                            </td>
                        }
                        else
                        {
                            <td colspan="2" class="align-middle">
                                <span class="badge badge-secondary">Atendido</span>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
