@model TaxiDinamica.Web.ViewModels.Appointments.AppointmentsListViewModel
@{
    this.ViewData["Title"] = "Default";
}

@if (@Model.Appointments.Count() > 0)
{
    <h2>Past (@Model.Appointments.Count())</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Fecha y hora</th>
                <th scope="col">Placa</th>
                <th scope="col">Conductor</th>
                <th scope="col">Servicio</th>
                <th scope="col">Dirección de Recogida</th>
                <th scope="col">Dirección de Destino</th>
                <th scope="col">Precio Ofrecido</th>
                <th scope="col">Reservar de nuevo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in this.Model.Appointments)
            {
                <tr>
                    <th scope="row">@appointment.DateTime</th>
                    <td>@appointment.PartnerPlaca</td>
                    <td>@appointment.PartnerDriverName</td>
                    <td>@appointment.ServiceName</td>
                    <td>@appointment.AddressStart</td>
                    <td>@appointment.AddressEnd</td>
                    <td>
                        @if (appointment.Price == 0)
                        {
                            <span>Taximetro</span>
                        }
                        else
                        {
                            <span>@appointment.Price</span>
                        }
                    </td>
                    <td>
                        <div class="button elements_button">
                            <a asp-area="" asp-controller="Appointments" asp-action="MakeAnAppointment"
                        asp-route-PartnerId="@appointment.PartnerId" asp-route-serviceId="@appointment.ServiceId">
                                <span>Reservar de nuevo</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
